<div>
    <h2>
        <span jhiTranslate="bookCenterApp.salesOrder.home.title">Sales Orders</span>
        <button class="btn btn-primary float-right jh-create-entity create-sales-order" [routerLink]="['/', { outlets: { popup: ['sales-order-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bookCenterApp.salesOrder.home.createLabel">
            Create new Sales Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="salesOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="bookCenterApp.salesOrder.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customer"><span jhiTranslate="bookCenterApp.salesOrder.customer">Customer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalAmount"><span jhiTranslate="bookCenterApp.salesOrder.totalAmount">Total Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="seller.id"><span jhiTranslate="bookCenterApp.salesOrder.seller">Seller</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let salesOrder of salesOrders ;trackBy: trackId">
                <td><a [routerLink]="['../sales-order', salesOrder.id ]">{{salesOrder.id}}</a></td>
                <td>{{salesOrder.date | date:'mediumDate'}}</td>
                <td>{{salesOrder.customer}}</td>
                <td>{{salesOrder.totalAmount}}</td>
                <td>
                    <div *ngIf="salesOrder.seller">
                        <a [routerLink]="['../employee', salesOrder.seller?.id ]" >{{salesOrder.seller?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sales-order', salesOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sales-order/'+ salesOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sales-order/'+ salesOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="salesOrders && salesOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
