
<div *ngIf="salesOrder">
    <h2><span jhiTranslate="bookCenterApp.salesOrder.detail.title">Sales Order</span> {{salesOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bookCenterApp.salesOrder.date">Date</span></dt>
        <dd>
            <span>{{salesOrder.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.salesOrder.customer">Customer</span></dt>
        <dd>
            <span>{{salesOrder.customer}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.salesOrder.totalAmount">Total Amount</span></dt>
        <dd>
            <span>{{salesOrder.totalAmount}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.salesOrder.seller">Seller</span></dt>
        <dd>
            <div *ngIf="salesOrder.sellerId">
                <a [routerLink]="['/employee', salesOrder.sellerId]">{{salesOrder.sellerId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.salesOrder.warehouse">Warehouse</span></dt>
        <dd>
            <div *ngIf="salesOrder.warehouseId">
                <a [routerLink]="['/warehouse', salesOrder.warehouseId]">{{salesOrder.warehouseId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sales-order/'+ salesOrder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
