
<div *ngIf="department">
    <h2><span jhiTranslate="bookCenterApp.department.detail.title">Department</span> {{department.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bookCenterApp.department.name">Name</span></dt>
        <dd>
            <span>{{department.name}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.department.address">Address</span></dt>
        <dd>
            <span>{{department.address}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.department.bookCenter">Book Center</span></dt>
        <dd>
            <div *ngIf="department.bookCenterId">
                <a [routerLink]="['/book-center', department.bookCenterId]">{{department.bookCenterName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.department.manager">Manager</span></dt>
        <dd>
            <div *ngIf="department.managerId">
                <a [routerLink]="['/employee', department.managerId]">{{department.managerName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'department/'+ department.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
