
<div *ngIf="book">
    <h2><span jhiTranslate="bookCenterApp.book.detail.title">Book</span> {{book.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bookCenterApp.book.name">Name</span></dt>
        <dd>
            <span>{{book.name}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.book.specification">Specification</span></dt>
        <dd>
            <span>{{book.specification}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.book.cost">Cost</span></dt>
        <dd>
            <span>{{book.cost}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.book.retailPrice">Retail Price</span></dt>
        <dd>
            <span>{{book.retailPrice}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.book.wholesalePrice">Wholesale Price</span></dt>
        <dd>
            <span>{{book.wholesalePrice}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.book.publisher">Publisher</span></dt>
        <dd>
            <div *ngIf="book.publisherId">
                <a [routerLink]="['/publisher', book.publisherId]">{{book.publisherName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.book.category">Category</span></dt>
        <dd>
            <div *ngIf="book.categoryId">
                <a [routerLink]="['/category', book.categoryId]">{{book.categoryName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'book/'+ book.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
