
<div *ngIf="warehouse">
    <h2><span jhiTranslate="bookCenterApp.warehouse.detail.title">Warehouse</span> {{warehouse.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bookCenterApp.warehouse.name">Name</span></dt>
        <dd>
            <span>{{warehouse.name}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.warehouse.phone">Phone</span></dt>
        <dd>
            <span>{{warehouse.phone}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.warehouse.keeper">Keeper</span></dt>
        <dd>
            <div *ngIf="warehouse.keeperId">
                <a [routerLink]="['/employee', warehouse.keeperId]">{{warehouse.keeperId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'warehouse/'+ warehouse.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
