<div>
    <h2>
        <span jhiTranslate="bookCenterApp.purchase.home.title">Purchase Orders</span>
        <button class="btn btn-primary float-right jh-create-entity create-purchase" [routerLink]="['/', { outlets: { popup: ['purchase-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bookCenterApp.purchase.home.createLabel">
            Create new Purchase Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="purchaseOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="bookCenterApp.purchase.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="supplier"><span jhiTranslate="bookCenterApp.purchase.supplier">Supplier</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalAmount"><span jhiTranslate="bookCenterApp.purchase.totalAmount">Total Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="buyer.id"><span jhiTranslate="bookCenterApp.purchase.buyer">Buyer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let purchaseOrder of purchaseOrders ;trackBy: trackId">
                <td><a [routerLink]="['../purchase', purchaseOrder.id ]">{{purchaseOrder.id}}</a></td>
                <td>{{purchaseOrder.date | date:'mediumDate'}}</td>
                <td>{{purchaseOrder.supplier}}</td>
                <td>{{purchaseOrder.totalAmount}}</td>
                <td>
                    <div *ngIf="purchaseOrder.buyer">
                        <a [routerLink]="['../employee', purchaseOrder.buyer?.id ]" >{{purchaseOrder.buyer?.name}}({{purchaseOrder.buyer?.id}})</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../purchase', purchaseOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'purchase/'+ purchaseOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'purchase/'+ purchaseOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
