
<div *ngIf="purchase">
    <h2><span jhiTranslate="bookCenterApp.purchase.detail.title">Purchase</span> {{purchase.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bookCenterApp.purchase.date">Date</span></dt>
        <dd>
            <span>{{purchase.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.purchase.supplier">Supplier</span></dt>
        <dd>
            <span>{{purchase.supplier}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.purchase.totalAmount">Total Amount</span></dt>
        <dd>
            <span>{{purchase.totalAmount}}</span>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.purchase.buyer">Buyer</span></dt>
        <dd>
            <div *ngIf="purchase.buyerId">
                <a [routerLink]="['/employee', purchase.buyerId]">{{purchase.buyerName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.purchase.warehouse">Warehouse</span></dt>
        <dd>
            <div *ngIf="purchase.warehouseId">
                <a [routerLink]="['/warehouse', purchase.warehouseId]">{{purchase.warehouseName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="bookCenterApp.purchase.orderItem">Order Items</span></dt>
        <dd>
            <div class="table-responsive" *ngIf="purchase.orderItems">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="global.field.id">ID</span></th>
                    <th><span jhiTranslate="bookCenterApp.orderItem.book">Book</span></th>
                    <th><span jhiTranslate="bookCenterApp.orderItem.price">Price</span></th>
                    <th><span jhiTranslate="bookCenterApp.orderItem.quantity">Quantity</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderItem of purchase.orderItems ;trackBy: trackOrderItemId">
                    <td><a [routerLink]="['/order-item', orderItem.id ]">{{orderItem.id}}</a></td>
                    <td>
                        <div *ngIf="orderItem.bookId">
                            <a [routerLink]="['/book', orderItem.bookId  ]" >{{orderItem.bookName}}</a>
                        </div>
                    </td>
                    <td>{{orderItem.price}}</td>
                    <td>{{orderItem.quantity}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'purchase/'+ purchase.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
